@model IEnumerable<cis237_assignment_6.Models.Beverage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@**@
<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @*Open up a form that will go to the Filter method on the
        BeveragesController with a POST request*@
        @using (Html.BeginForm(
            "Filter",    // Action method to run
            "Beverages",    // Controller that method is on
            FormMethod.Post    // The request type
        ))
        {
            @*Render out the AntiForgery Token for the form*@
            @Html.AntiForgeryToken()

            <label for="name">Name</label>
            @Html.TextBox("name", ViewData["filterName"])
            <label for="pack">Pack</label>
            @Html.TextBox("pack", ViewData["filterPack"])
            <label for="min_price">Minimum Price</label>
            @Html.TextBox("min_price", ViewData["filterMinPrice"])
            <label for="max_price">Maximum Price</label>
            @Html.TextBox("max_price", ViewData["filterMaxPrice"])

            <input type="submit" value="Filter" class="btn btn-info pull-right" />
        }
    </fieldset>
</div>
<br />
<br />
@*Check that the user is logged in*@
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>        
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>            
            @*Check if the user is logged in*@
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
